@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(83, 117, 226, .1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(94,94,94,.3);
}